.customCheckbox {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checked {
  background-color: #4caf50;
  color: white;
}

.checkIcon {
  font-size: 16px;
}
