@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

.container_sort {
  margin: 0 auto;
  max-width: 1450px;
}

.sort_by_price {
  display: flex;
  align-items: center;
  gap: 30px;
}

.h3,
.from,
.to,
.discountTitle,
.customCheckbox,
.sortLabel {
  display: inline;
  margin-right: 18px;
}

.discounted_items {
  display: flex;
  align-items: center;
  gap: 18px;
}

.customCheckbox {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checked {
  background-color: #4caf50;
  color: white;
}

.checkIcon {
  font-size: 16px;
}

.sortLabel,
.h3 {
  color: var(--txt-black, #282828);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */
}

.from,
.to {
  border-radius: 5px;
  width: 112px;
  border: 1px solid var(--grey-divider, #ddd);
  padding: 8px 16px;
}

.img_container {
  display: flex;
  flex-wrap: wrap;
}

.product_content {
  margin: 0;
  flex-basis: calc(25% - 20px);
  margin-right: 20px;
  margin-top: 40px;
  position: relative;
  border-radius: var(--radius-big, 12px);
  border: 1px solid var(--grey-divider, #ddd);
}

.img_all {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid var(--grey-divider, #ddd);
}

.saleDiscount {
  position: absolute;
  top: 8%;
  left: 86%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 4px;
  font-size: 1rem;
  border-radius: var(--radius-small, 6px);
  background: var(--green, #393);
}

.priceInfo {
  padding: 20px;
}

.product_title {
  color: var(--txt-black, #282828);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;

  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
}

.discountedPrice {
  color: var(--txt-black, #282828);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 44px */
}

.initialPrice {
  color: var(--txt-grey, #8b8b8b);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 26px */
  text-decoration-line: strikethrough;
  text-decoration: line-through;
  margin-left: 20px;
}

.noDiscount {
  color: var(--txt-black, #282828);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 44px */
}
