@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {
  position: relative;
  height: 100vh;
  overflow: hidden; /* Добавлено, чтобы скрыть возможные прокрутки */
}

.top::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../../assets/head.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover; /* Используем cover для заполнения всей области */
  z-index: -1;
}

.container {
  margin: 0 auto;
  max-width: 1425px;
  padding-top: 100px;
}

.text {
  margin-bottom: 40px;
  width: 1360px;
  color: var(--txt-white, #fff);
  font-family: Montserrat;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 105.6px */
}

.btn {
  color: white;
  display: flex;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--radius-small, 6px);
  background: var(--green, #393);
  cursor: pointer;
}

.btn:hover {
  background-color: #339933;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px;
}
