@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

.discountItem_container {
    margin: 0 auto;
    max-width: 1450px;
    display: flex;
    margin-right: 18px;
}

.discount{
    color: var(--txt-black, #282828);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 26px;
margin-right: 18px;
}

.customCheckbox {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .checked {
    background-color: #4caf50;
    color: white;
  }
  
  .checkIcon {
    font-size: 16px;
  }
  